@media (max-width: 768px) {
  .featured-books {
    flex-direction: column;
  }
}
body{
  justify-content: center;
  padding: 0%;
  margin: 0%;
  background-color: #213fbb;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  margin: 0%;
  width: 100%;
<<<<<<< HEAD
  height: 10vh;
=======
  height: 20vh;
>>>>>>> b696dedb45c862540e856b13c17d1e28c5afd39b
  background-color:#13225f ;
}
.nav-icons {
  margin-right:5%;
  display: flex;
  gap: 15px;
  align-items: center;
}
.nav-icons i {
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.config{
  margin-left: 5%;
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
}
.config i{
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.carousel {
    overflow: hidden;
    width: 100%;
<<<<<<< HEAD
    background-color: f;
=======
    background-color: #1e272e;
>>>>>>> b696dedb45c862540e856b13c17d1e28c5afd39b
    padding: 30px 0;
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
}

.image-container {
    display: flex;
    width: fit-content;
    animation: slide 12s linear infinite;
}

.image-container img {
  margin: 10px;
    width: 600px;
    height: 270px;
    border-radius: 12px;
    object-fit: cover;
    border: 1px solid #a5b1c2;
}

<<<<<<< HEAD
.books{
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 20px 0;
  margin-top: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)
}

.books-container{
  margin: auto;
  display: flex;
  width: fit-content;
  
}

.books-container img{
  margin: 10px;
  width: 120px;
  height: 180px;
  object-fit: cover;
  border: 1px solid #a5b1c2;
  border-radius: 5px;

}

=======
>>>>>>> b696dedb45c862540e856b13c17d1e28c5afd39b
@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } 
}