body {
    background-image: url('img/back.jpeg'); 
    background-image: url('../../ProjetoX-main/img/back.jpeg'); 
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: rgba(71, 71, 71, 0.116); /* Fundo translúcido */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  }
  
  .login-form {
    text-align: center;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
