
body{
  padding: 0%;
  margin: 0%;
  background-image: url("../../ProjetoX-main/img/back.jpeg")no-repeat center center fixed;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 10vh;
  background-color:#13225f ;
}
.nav-icons {
  margin-right:5%;
  display: flex;
  gap: 15px;
  align-items: center;
}
.nav-icons i {
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.config{
  margin-left: 5%;
  position: relative;
  display: flex;
  gap: 15px;
  align-items: center;
}
.config i{
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.carousel {
  overflow: hidden;
  width: 20%;
  background-color: #ffffff00;
  padding: 28px 0;
  margin-top: 60px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 7px;
}

.image-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  justify-items: stretch;
  animation: animation 14s linear infinite;
 
}

.image-container img {
  width: 150px;
  height: 270px;
  border-radius: 12px;
  object-fit: cover;
  border: 1px solid #000000;
}

@keyframes animation {
  to {
    translate: calc(-4 * 250px);
  }
}
